<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div
          class="card cascading-right"
          style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
          "
        >
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign up now</h2>

            
            <% if (infoSubmitObj != '') { %>
            <div class="col-15 alert alert-success" role="alert">
              <%= infoSubmitObj %>
            </div>
            <% } %> <% if (infoErrorsObj != '') { %>
            <div class="col-15 alert alert-danger" role="alert">
              <%= infoErrorsObj %>
            </div>
            <% } %>


            <form  action="/register" enctype="multipart/form-data" method="POST">
              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="username"
                  class="form-control"
                  name="name"
                />
                <label class="form-label" for="username"
                  >Nom d'utilisateur</label
                >
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  name="email"
                />
                <label class="form-label" for="email">Adresse email</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  name="password"
                />
                <label class="form-label" for="password">Mot de passe</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>
            </form>
            <div class="text-center">
              <p class="fw-normal mb-0">
                Vous avez déjà un compte ?
                <a href="/login" class="text-primary">Login here</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="/img/login.jpg" class="w-100 rounded-4 shadow-4" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
